<div class="humdrum-container">
  <header>
    <nav class="nav">
      <div class="nav-left">
        <a class="title nav-item" href="#"> <!-- Perhaps have user slogan -->
          Inspiring Asperations TEST {{vm.repos}}
        </a>
      </div>
      <div class="nav-center">
        <a class="nav-item" href="#"><!-- Link to User Github -->
          <span class="icon">
            <i class="fa fa-github"></i>
          </span>
        </a>
      </div>
      <div class="nav-right nav-menu">
        <h1 class="subtitle nav-item">Sally Johnson</h1>
      </div>
    </nav>
  </header>
  <div class="main-content">
    <div class="general">
      <div class="followers">
        <p class="string">Followers</p>
        <p class="number">123</p>
      </div>
      <div class="img">
        <img ng-src="{{vm.user_obj.avatar_url}}">
      </div>
      <div class="hireable">
        <p ng-show="{{vm.user_obj.hireable}}">Hireable</p>
        <p ng-hide="{{vm.user_obj.hireable}}">Currently Employed</p>
      </div>
    </div>
    <div class="my-languages">
      <p>My Languages</p>
      <ul class="languages">
        <li class="language">
          Javascript
        </li>
        <li class="language">
          HTML
        </li>
        <li class="language">
          CSS
        </li>
        <li class="language">
          AngularJs
        </li>
        <li class="language">
          Ruby
        </li>
      </ul>
    </div>
    <div class="bio">
      <div class="featured">
        <h2 class="subtitle">Bio:</h2>
        <p><span class="feature">Featured Repo:</span> Name of repo set to link of repo</p>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="sub-content">
      <div class="repos">
        <nav> <!-- On click reorder repos by selected -->
          <a class="active" href="">Repos</a> <!-- Date Created -->
          <a href="">Recent Activity</a> <!-- Most recently updated -->
          <a href="">Starred Repos</a><!-- Most Stars -->
        </nav>
        <ul class="all-repos">
          <li class="repo"><!-- ng-repeat through repos-->
            <p class="repo-title">Repo Name - Language</p>
            <p class="repo-description">Repo Descript asdfsda asdffdsa asdf fsa</p> <!-- Cut length -->
            <i class="fa fa-star" aria-hidden="true">12</i>
          </li>
          <li class="repo"><!-- ng-repeat through repos-->
            <p class="repo-title">Repo Name - Language</p>
            <p class="repo-description">Repo Descript asdfsda asdffdsa asdf ;skd a;sfj jfdskla; qwoeiruj none moqppwei jaasdo9er fj;a09e fsa</p> <!-- Cut length -->
            <i class="fa fa-star" aria-hidden="true">12</i>
          </li>
          <li class="repo"><!-- ng-repeat through repos-->
            <p class="repo-title">Repo Name - Language</p>
            <p class="repo-description">Repo Descript asdfsda asdffdsa asdf ;skd a;sfj jfdskla; qwoeiruj none moqppwei jaasdo9er fj;a09e fsa</p> <!-- Cut length -->
            <i class="fa fa-star" aria-hidden="true">12</i>
          </li>
          <li class="repo"><!-- ng-repeat through repos-->
            <p class="repo-title">Repo Name - Language</p>
            <p class="repo-description">Repo Descript asdfsda asdffdsa asdf ;skd a;sfj jfdskla; qwoeiruj none moqppwei jaasdo9er fj;a09e fsa</p> <!-- Cut length -->
            <i class="fa fa-star" aria-hidden="true">12</i>
          </li>
          <li class="repo"><!-- ng-repeat through repos-->
            <p class="repo-title">Repo Name - Language</p>
            <p class="repo-description">Repo Descript asdfsda asdffdsa asdf ;skd a;sfj jfdskla; qwoeiruj none moqppwei jaasdo9er fj;a09e fsa</p> <!-- Cut length -->
            <i class="fa fa-star" aria-hidden="true">12</i>
          </li>
          <li class="repo"><!-- ng-repeat through repos-->
            <p class="repo-title">Repo Name - Language</p>
            <p class="repo-description">Repo Descript asdfsda asdffdsa asdf fsa</p> <!-- Cut length -->
            <i class="fa fa-star" aria-hidden="true">12</i>
          </li>
          <li class="repo"><!-- ng-repeat through repos-->
            <p class="repo-title">Repo Name - Language</p>
            <p class="repo-description">Repo Descript asdfsda asdffdsa asdf fsa</p> <!-- Cut length -->
            <i class="fa fa-star" aria-hidden="true">12</i>
          </li>
        </ul>
      </div>
      <div class="organizations">
        <ul class="orgs">
          <li class="org">
            <img src="https://www.placecage.com/c/90/90">
            <p>Org Name</p>
          </li>
          <li class="org">
            <img src="https://www.placecage.com/c/90/90">
            <p>Org Name</p>
          </li>
          <li class="org">
            <img src="https://www.placecage.com/c/90/90">
            <p>Org Name</p>
          </li>
          <li class="org">
            <img src="https://www.placecage.com/c/90/90">
            <p>Org Name</p>
          </li>
          <li class="org">
            <img src="https://www.placecage.com/c/90/90">
            <p>Org Name</p>
          </li>
          <li class="org">
            <img src="https://www.placecage.com/c/90/90">
            <p>Org Name</p>
          </li>
          <li class="org">
            <img src="https://www.placecage.com/c/90/90">
            <p>Org Name</p>
          </li>
          <li class="org">
            <img src="https://www.placecage.com/c/90/90">
            <p>Org Name</p>
          </li>
          <li class="org">
            <img src="https://www.placecage.com/c/90/90">
            <p>Org Name</p>
          </li>
          <li class="org">
            <img src="https://www.placecage.com/c/90/90">
            <p>Org Name</p>
          </li>
          <li class="org">
            <img src="https://www.placecage.com/c/90/90">
            <p>Org Name</p>
          </li>
          <li class="org">
            <img src="https://www.placecage.com/c/90/90">
            <p>Org Name</p>
          </li>
          <li class="org">
            <img src="https://www.placecage.com/c/90/90">
            <p>Org Name</p>
          </li>
          <li class="org">
            <img src="https://www.placecage.com/c/90/90">
            <p>Org Name</p>
          </li>
          <li class="org">
            <img src="https://www.placecage.com/c/90/90">
            <p>Org Name</p>
          </li>
          <li class="org">
            <img src="https://www.placecage.com/c/90/90">
            <p>Org Name</p>
          </li>
          <li class="org">
            <img src="https://www.placecage.com/c/90/90">
            <p>Org Name</p>
          </li>
          <li class="org">
            <img src="https://www.placecage.com/c/90/90">
            <p>Org Name</p>
          </li>
          <li class="org">
            <img src="https://www.placecage.com/c/90/90">
            <p>Org Name</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
