<div class="humdrum-container">
  <header>
    <nav class="nav">
      <div class="nav-left">
        <a class="title nav-item" href="#"> <!-- Perhaps have user slogan -->
          Inspiring Asperations
        </a>
      </div>
      <div class="nav-center">
        <a class="nav-item" href="#"><!-- Link to User Github -->
          <span class="icon">
            <i class="fa fa-github"></i>
          </span>
        </a>
      </div>
      <div class="nav-right nav-menu">
        <h1 class="subtitle nav-item">Sally Johnson</h1>
      </div>
    </nav>
  </header>
  <div class="main-content">
    <div class="general">
      <div class="followers">
        <p class="string">Followers</p>
        <p class="number">{{vm.user_obj.followers}}</p>
      </div>
      <div class="img">
        <img ng-src="{{vm.user_obj.avatar_url}}">
      </div>
      <div class="hireable">
        <p ng-show="{{vm.user_obj.hireable}}">Hireable</p>
        <p ng-hide="{{vm.user_obj.hireable}}">Currently Employed</p>
      </div>
    </div>
    <div class="my-languages">
      <p>My Languages</p>
      <ul class="languages">
        <li class="language">
          Javascript
        </li>
        <li class="language">
          HTML
        </li>
        <li class="language">
          CSS
        </li>
        <li class="language">
          AngularJs
        </li>
        <li class="language">
          Ruby
        </li>
      </ul>
    </div>
    <div class="bio">
      <div class="featured">
        <h2 class="subtitle">Bio:</h2>
        <p><span class="feature">Featured Repo:</span> Name of repo set to link of repo</p>
      </div>
      <p>{{vm.profile.bio}}</p>
    </div>
    <div class="sub-content">
      <div class="repos">
        <nav> <!-- On click reorder repos by selected -->
          <p>My Repos</p>
        </nav>
        <ul class="all-repos">
          <li class="repo" ng-repeat="repo in vm.gitProfile.repos"><!-- ng-repeat through repos-->
            <p class="repo-title">{{repo.name}} | {{repo.language}}</p>
            <p class="repo-description">Repo Descript asdfsda asdffdsa asdf fsa</p> <!-- Cut length -->
            <i class="fa fa-star" aria-hidden="true" ng-show="{{repo.stargazers_count > 0}}">{{repo.stargazers_count}}</i>
          </li>
        </ul>
      </div>
      
<!-- /////////// -->

      <div class="organizations">
        <nav> <!-- On click reorder repos by selected -->
          <p>My Orgs</p>
        </nav>
        <ul class="orgs">
          <li class="org" ng-repeat="org in vm.gitProfile.orgs"><!-- ng-repeat through repos-->
            <p class="org-title">{{org.avatar_url}}</p>
            <p class="org-title">{{org.name}}</p>
          </li>
        </ul>
      </div>



    </div>
  </div>
</div>
