@import 'bulma';

// ======================================
// BEGIN GENERAL STYLES
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.hidden {
  display: none;
}
// END GENERAL STYLES
// ======================================
// --------------------------------------
// ======================================
// BEGIN LAYOUT PAGE
.jumbotron {
  height: 400px;
  width: 1200px;
}

footer {
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  clear: both;
}
// END LAYOUT PAGE
// ======================================
// --------------------------------------
// ======================================
// BEGIN HOME PAGE

.top {
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
    height: 400px;
    margin: 50px 0;
  }
  h1 {
    margin: 0 5%;
  }
  h2 {
    margin: 0 5% 0 10%;
  }
}
.center {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0 10px 5%;
  .reviews {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: flex-end;
    margin: 50px 5% 0 0;
    .review {
      display: flex;
      border: solid black 1px;
      margin: 5px 0;
      width: 90%;
      img {
        width: 75px;
        height: 75px;
        border-radius: 15px;
      }
      p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
      }
      i {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .reviews-header {
    width: 40%;
  }
}

// END HOME PAGE
// ======================================
// --------------------------------------
// =============================================
// BEGIN REGISTRATION FORM VALIDATION FORMATTING

.registration-form{
  input.ng-invalid.ng-touched {
    border-color: #FA787E;
  }
  input.ng-valid.ng-touched {
    border-color: #78FA89;
  }
  .alert {
    display: inline;
    color: red;
    font-size: 16px;
    font-weight: 200;
    text-shadow: 0px 0px 5px #ff4d4d;
    }
}
// END REGISTRATION FORM VALIDATION FORMATTING
// ===========================================

// ===========================================
// BEGIN LOGIN PAGE
.login {
  width: 90%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  form {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    justify-content: center;
    align-items: flex-start;
    p {
      width: 80%;
    }
  }
  p.add {

  }
}

// ===========================================
// BEGIN PROFILE PAGE

.user-info-general {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  margin: 50px 0;
  margin-left: 5%;
  width: 30%;
  border: solid purple 1px;
  .followers {
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    width: 100%;
    p {
      display: flex;
      justify-content: center;
      margin: 5px 0;
    }
    .followers-string {
      font-size: 1.3em;
      font-weight: 600;
    }
    .followers-number {
      font-size: 2em;
      font-weight: 600;
    }
    img {
      display: flex;
      margin: 0 auto;
      border-radius: 50%;
    }
  }
  .stared-repos {
    // width: 200px;
    width: 100%;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    h1 {
      display: flex;
      justify-content: center;
      font-weight: 600;
      margin: 10px 0;
    }
    .stared-repo {
      display: flex;
      flex-direction: column;
      .header {
        display: flex;
        justify-content: space-between;
        h3 {
          margin: 5px 0 5px 5px;
          font-weight: 600;
          font-size: 1em;
        }
        i {
          margin-right: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      p {
        margin: 0 0 5px 10px;
        font-weight: 300;
        font-size: 1em;
      }
    }
  }
}

.editable {
  position: relative;
  float: right;
  border: solid black 1px;
  width: 55%;
  margin: 50px 5% 0 0;
  .edit-label {
    font-weight: 600;
  }
  p {
    min-height: 30px;
    width: 94%;
    margin: 5px 3%;
  }
  form {
    width: 94%;
    margin: 5px 3%;
    p {
      margin: 0;
    }
    p.control {
      margin: 0;
    }
    input {
      margin: 0 0 0 10px;
    }
    .select {
      position: absolute;
      top: 45px;
      right: 10px;
    }
  }
  textarea {
    display: flex;
    width: 100%;
    height: 125px;
    margin: 5px 0 10px 10px;
  }
  button.portfolio {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  i {
    position: absolute;
    right: 125px;
    top: 15px;
    font-size: 1.4em;
  }
}

.profile {
  .bottom {
    float: left;
    width: 100%;
    border: solid black 1px;
    .recent-repos {
      display: flex;
      flex-direction: column;
      h1 {
        display: flex;
        justify-content: center;
        font-weight: 600;
        margin: 10px 0;
      }
      .recent-repo {
        display: flex;
        flex-direction: column;
        .header {
        display: flex;
        justify-content: space-between;
        h3 {
          margin: 5px 0 5px 5px;
          font-weight: 600;
          font-size: 1em;
        }
        i {
          margin-right: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      p {
        margin: 0 0 5px 10px;
        font-weight: 300;
        font-size: 1em;
      }
      }
    }
  }
}
// END PROFILE PAGE
// ===========================================
// -------------------------------------------
// ===========================================
// BEGIN HUMDRUM LAYOUT

.humdrum-container {
  width: 100%;
  header {
    nav {
    }
    .icon {
      font-size: 2.5em;
    }
  }
  .general {
    border: solid pink 1px;
    display: flex;
    align-items: center;
    padding: 20px 0;
    .followers {
      width: 33%;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        font-weight: 600;
      }
      .string{
        font-size: 1.3em;
      }
      .number {
        font-size: 2em;
      }
    }
    .img { 
      width: 33%;
      display: flex;
      justify-content: center;
      img {
        border-radius: 30%;
      }
    }
    .hireable {
      width: 33%;
      display: flex;
      justify-content: center;
      font-size: 1.3em;
      p {
        font-weight: 600;
      }
    }
  }
  .bio {
    width: 80%;
    margin: 10px auto;
    text-align: justify;
    line-height: 1.5em;
    // border: solid green 1px;
    .subtitle {
      margin: 10px 0;
      font-weight: 600;
    }
  }
  .featured {
    border: solid blue 1px;
    width: 80%;
    margin: 0 auto;
  }
  .repos {
    border: solid red 1px;
    width: 80%;
    margin: 20px auto;
    nav {
      border: solid pink 1px;
      display: flex;
      justify-content: space-between;
      a {
        font-size: 1.2em;
      }
    }
    .all-repos {
      border: solid purple 1px;
      .repo {
        border: solid black 1px;
        display: flex;
        i {
          float: right;
        }
      }
    }
  }
}



// END HUMDRUM LAOUT
// ===========================================


