@import 'bulma';

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.jumbotron {
  height: 400px;
  width: 1200px;
}

// =============================================
// BEGIN REGISTRATION FORM VALIDATION FORMATTING

.registration-form{
  input.ng-invalid.ng-touched {
    border-color: #FA787E;
  }
  input.ng-valid.ng-touched {
    border-color: #78FA89;
  }
  .alert {
    display: inline;
    color: red;
    font-size: 16px;
    font-weight: 200;
    text-shadow: 0px 0px 5px #ff4d4d;
    }
}
// END REGISTRATION FORM VALIDATION FORMATTING
// ===========================================


// Login Page
.login {
  width: 90%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  form {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    justify-content: center;
    align-items: flex-start;
    p {
      width: 80%;
    }
  }
  p.add {

  }
}

// Profile Page

.user-info-general {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  margin: 50px 0;
  margin-left: 5%;
  width: 30%;
  border: solid purple 1px;
  .followers {
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    width: 100%;
    p {
      display: flex;
      justify-content: center;
      margin: 5px 0;
    }
    .followers-string {
      font-size: 1.3em;
      font-weight: 600;
    }
    .followers-number {
      font-size: 2em;
      font-weight: 600;
    }
    img {
      display: flex;
      margin: 0 auto;
      border-radius: 50%;
    }
  }
  .stared-repos {
    // width: 200px;
    width: 100%;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    h1 {
      display: flex;
      justify-content: center;
      font-weight: 600;
      margin: 10px 0;
    }
    .stared-repo {
      display: flex;
      flex-direction: column;
      .header {
        display: flex;
        justify-content: space-between;
        h3 {
          margin: 5px 0 5px 5px;
          font-weight: 600;
          font-size: 1em;
        }
        i {
          margin-right: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      p {
        margin: 0 0 5px 10px;
        font-weight: 300;
        font-size: 1em;
      }
    }
  }
}

.editable {
  float: right;
  border: solid black 1px;
  width: 55%;
  margin: 50px 5% 0 0;
  .edit-label {
    font-weight: 600;
  }
  p {
    min-height: 30px;
    width: 94%;
    margin: 5px 3%;
  }
  form {
    width: 94%;
    margin: 5px 3%;
  }
  .select {
   margin: 5px 3%; 
  }
  textarea {
    display: flex;
    width: 100%;
    height: 125px;
    margin: 5px 0 10px 0;
  }
}

.profile {
  .bottom {
    float: left;
    width: 30%;
    margin: 20px 0 0 5%;
    border: solid black 1px;
    .recent-repos {
      display: flex;
      flex-direction: column;
      h1 {
        display: flex;
        justify-content: center;
        font-weight: 600;
        margin: 10px 0;
      }
      .recent-repo {
        display: flex;
        flex-direction: column;
        .header {
        display: flex;
        justify-content: space-between;
        h3 {
          margin: 5px 0 5px 5px;
          font-weight: 600;
          font-size: 1em;
        }
        i {
          margin-right: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      p {
        margin: 0 0 5px 10px;
        font-weight: 300;
        font-size: 1em;
      }
      }
    }
  }
}

footer {
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  clear: both;
}
