<div class="humdrum-container">
  <header>
    <nav class="nav">
    <div class="nav-left">
      <a class="title nav-item" href="#"> <!-- Perhaps have user slogan -->
        Inspiring Asperations
      </a>
    </div>
    <div class="nav-center">
      <a class="nav-item" href="#"><!-- Link to User Github -->
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
      </a>
    </div>
    <div class="nav-right nav-menu">
      <h1 class="subtitle nav-item">Sally Johnson</h1>
    </div>
  </header>
  <div class="main-content">
    <div class="user-info">
      <div class="followers">
        <p>Followers</p>
        <p>12</p>
      </div>
      <div class="img">
        <img src="https://avatars0.githubusercontent.com/u/14117380?v=3&u=7a5ae3d828a233055b74fe516536d0135dd09062&s=140"> <!-- Takes from user img -->
      </div>
    </div>
    <div class="repos">
      <div class="recent-repos-box">
        <ul class="recent-repos">
          <li class="recent-repo"><!-- Put on repeat for 5-10 most recent repos-->
            <h3>Repo Name</h3>
            <p>Repo Description</p>
            <p>Code Language</p>
            <p>Stars</p>
          </li>
          <li class="recent-repo"><!-- Put on repeat for 5-10 most recent repos-->
            <h3>Repo Name</h3>
            <p>Repo Description</p>
            <p>Code Language</p>
            <p>Stars</p>
          </li>
          <li class="recent-repo"><!-- Put on repeat for 5-10 most recent repos-->
            <h3>Repo Name</h3>
            <p>Repo Description</p>
            <p>Code Language</p>
            <p>Stars</p>
          </li>
          <li class="recent-repo"><!-- Put on repeat for 5-10 most recent repos-->
            <h3>Repo Name</h3>
            <p>Repo Description</p>
            <p>Code Language</p>
            <p>Stars</p>
          </li>
          <li class="recent-repo"><!-- Put on repeat for 5-10 most recent repos-->
            <h3>Repo Name</h3>
            <p>Repo Description</p>
            <p>Code Language</p>
            <p>Stars</p>
          </li>
        </ul>
      </div>
      <div class="most-stared-repos">
        <ul class="starred-repos">
          <li class="stared repo"><!-- Repeat for top three stared repos-->
            <h3>Repo Name</h3>
            <p>Repo Description</p>
            <p>Code Language</p>
            <p>Stars</p>
          </li>
          <li class="stared repo"><!-- Repeat for top three stared repos-->
            <h3>Repo Name</h3>
            <p>Repo Description</p>
            <p>Code Language</p>
            <p>Stars</p>
          </li>
          <li class="stared repo"><!-- Repeat for top three stared repos-->
            <h3>Repo Name</h3>
            <p>Repo Description</p>
            <p>Code Language</p>
            <p>Stars</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>