<div class="profile">
  <div class="user-info-general">
    <div class="followers">
      <img src="https://www.placecage.com/150/150">
      <p class="followers-string">Followers</p>
      <p class="followers-number">127</p>
    </div>
    <ul class="stared-repos">
    <h1 class="subtitle">Favorite Repos</h1>
      <li class="stared-repo">
        <div class="header">
          <h3 class="subtitle">Repo Name</h3>
          <i class="fa fa-star" aria-hidden="true">31</i>
        </div>
        <p>Repo Description</p>
      </li>
      <li class="stared-repo">
        <div class="header">
          <h3 class="subtitle">Repo Name</h3>
          <i class="fa fa-star" aria-hidden="true">12</i>
        </div>
        <p>Repo Description</p>
      </li>
    </ul>
  </div>
  <div class="editable">
    <p class="git-hub-username">jjrajani</p>
  </div>
</div>  