<div class="profile">
  <div class="user-info-general">
    <div class="followers">
      <img src="https://www.placecage.com/150/150">
      <p class="followers-string">Followers</p>
      <p class="followers-number">127</p>
    </div>
    <ul class="stared-repos">
    <h1 class="subtitle">Favorite Repos</h1>
      <li class="stared-repo">
        <div class="header">
          <h3 class="subtitle">Repo Name</h3>
          <i class="fa fa-star" aria-hidden="true">31</i>
        </div>
        <p>Repo Description</p>
      </li>
      <li class="stared-repo">
        <div class="header">
          <h3 class="subtitle">Repo Name</h3>
          <i class="fa fa-star" aria-hidden="true">12</i>
        </div>
        <p>Repo Description</p>
      </li>
    </ul>
  </div>
  <div class="editable">
    <form>
      <p class="git-hub-username"><span class="edit-label">Github User Name: </span>{{ vm.profile.github_username }}</p>
      <p class="control">
        <input type="text" name="github-username" placeholder="Github User Name">
      </p>

      <p class="email"><span class="edit-label">Email: </span>jjrajani@gmail.com</p>
      <p class="control">
        <input type="email" name="email" placeholder="Email">
      </p>

      <p class="location"><span class="edit-label">Location: </span>Atl, Ga</p>
      <p class="control">
        <input type="text" name="location" placeholder="Location">
      </p>

      <p class="profile-title"><span class="edit-label">Portfolio Page Title: </span>Inspirational Aspirations</p>
      <p class="control">
        <input type="text" name="page-title" placeholder="Portfolio Title">
      </p>

        <span class="select">
          <select>
            <option>Layout</option>
            <option>HumDrum</option>
            <option>DerDum</option>
          </select>
        </span>

      <p><span class="edit-label">Bio: </span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p class="control">
        <textarea></textarea>
      </p>

    </form>

  </div>
  <div class="bottom">
    <ul class="recent-repos">
      <h1 class="subtitle">Recent Repo Activity</h1>
      <li class="recent-repo">
        <div class="header">
          <h3 class="subtitle">Repo Name</h3>
          <i class="fa fa-star" aria-hidden="true">12</i>
        </div>
        <p>Repo Description</p>
      </li>
      <li class="recent-repo">
        <div class="header">
          <h3 class="subtitle">Repo Name</h3>
          <i class="fa fa-star" aria-hidden="true">12</i>
        </div>
        <p>Repo Description</p>
      </li>
      <li class="recent-repo">
        <div class="header">
          <h3 class="subtitle">Repo Name</h3>
          <i class="fa fa-star" aria-hidden="true">12</i>
        </div>
        <p>Repo Description</p>
      </li>
      <li class="recent-repo">
        <div class="header">
          <h3 class="subtitle">Repo Name</h3>
          <i class="fa fa-star" aria-hidden="true">12</i>
        </div>
        <p>Repo Description</p>
      </li>
      <li class="recent-repo">
        <div class="header">
          <h3 class="subtitle">Repo Name</h3>
          <i class="fa fa-star" aria-hidden="true">12</i>
        </div>
        <p>Repo Description</p>
      </li>
    </ul>
  </div>
</div>  